* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* New Cards*/
.articles article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
  
.articles article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    content: "";
}
  
/* basic article elements styling */
.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}
  
.articles figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
  
.articles article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}
  
.articles .article-body {
    padding: 24px;
}
  
.articles article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #040D12;
}
  
.articles article a:focus {
    outline: 1px dotted #040D12;
}
  
.articles article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}
  
/* using the has() relational pseudo selector to update our custom properties */
.articles article:has(:hover, :focus) {
    --img-scale: 1.1;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
  
/************************ 
Generic layout (demo looks)
**************************/
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
/* body {
    margin: 0;
    padding: 48px 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    min-height: 100vh;
} */
  
.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}
  
@media screen and (max-width: 960px) {
    .articles article {
      container: card/inline-size;
    }
    .articles .article-body p {
      display: none;
    }
}
  
@container card (min-width: 380px) {
    .articles .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    .articles figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .articles figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
}
  
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


.article-body .categories {
    display: flex;
    gap: 10px;
}
  
.article-body .categories span {
    color:#F5F5F5;
    background-color: #040D12;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
}
  
/* Buttons */
.project-pad_button {
    margin-top: 1.25rem;
    padding-top: .625rem;
    border-top: 1px solid grey;
}

button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: linear-gradient(
      to bottom right,
      var(--highlight-color),
      var(--shadow-color)
    );
    box-shadow: 6px 6px 16px var(--shadow-color),
      -6px -6px 16px var(--highlight-color);
    cursor: pointer;
}
  
.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}

button .demo {
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
}

button .github {
    background: #000000;
    color: #e8e8e8;
}


/* General rules */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 12px;
    background-color:#F5F5F5;
}

section {
    margin: 1rem 0 2.5rem 0;
}

h2 {
    font-family: 'Young Serif', serif;
    margin-bottom: 0.75rem;
}

#projects h2,
#skills h2,
#contact h2 {
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}


/* Nav Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #040D12;
    height: 5rem;
}

header nav ul {
    display: flex;
}

nav li {
    margin: .5rem;
    padding-left: .25rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}

nav a:hover {
    background-color: #ffffff;
    color: #040D12;
}

#logo a {
    font-family: 'Young Serif', serif;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-left: 1.5px;
}

header .mobile-navigation {
    display: none;
}

/* Media query for Nav Section, 1 */
@media only screen and (max-width: 895px) {
    header .desktop-navigation {
        display: none;
    }

    header .mobile-navigation {
        display: block;
        width: 100%;
    }

    header {
        padding: .5rem;
    }

    #logo a {
        font-size: 1.5rem;
    }
    
    header .mobile-navigation ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .mobile-navigation li {
        padding: 0;
    }
}

/* Media query for Nav Section, 2 */
@media only screen and (max-width: 600px) {
    #logo a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }
}


/* About Me Section */
.about-me-container {
    display: flex;
}

.about-me-text {
    margin-right: 2rem;
}

.about-me-text p {
    margin: 1rem 0;
}

.portrait img {
    width: 18.75rem;
    border-radius: 12px;
    flex-shrink: 0;
    margin-top: 3.125rem;
}

/* Media query for About Me section, 1*/
@media only screen and (max-width: 610px) {
    .about-me-container {
      flex-direction: column;
    }

    .portrait {
        margin: 0 auto;
    }
}


/* Projects Section */
.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-pad {
    margin-bottom: 2rem;
    padding: 0 1rem 3rem 0;
    border: 1px solid #040D12;
    border-radius: 12px;
    background-color: #ffffff;
}

.project figure {
    width: 75%;
    height: 90%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: .5em;
}

.project figure img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
}

/* details {
    width: 270px;
}

details p {
    width: 260px;
} */

/* details a {
    text-decoration: none;
    color: #040D12;
}

details a:hover {
    color: #ffffff;
    background-color: #040D12;
} */

summary {
    cursor: pointer;
    display: inline;
    font-size: 1.3rem;
}

/* summary:hover {
    text-decoration: underline;
} */

/* Media query for Projects Section, 1 */
@media only screen and (max-width: 955px) {
    .projects-container {
        justify-content: space-between;
    }

    details {
        width: 360px;
    }

    details p {
        width: 340px;
    }
}

/* Media query for Projects Section, 2 */
@media only screen and (max-width: 879px) {    
    details {
        width: 350px;
    }

    details p {
        width: 330px;
    }
}

/* Media query for Projects Section, 3 */
@media only screen and (max-width: 810px) {
    .projects-container {
        justify-content: space-around;
    }

    details {
        width: 250px;
    }

    details p {
        width: 230px;
    }
}

/* Media query for Projects Section, 4 */
@media only screen and (max-width: 610px) {
    .projects-container {
        justify-content: center;
    }

    details {
        width: 380px;
    }

    details p {
        width: 360px;
    }
}

/* Media query for Projects Section, 5 */
@media only screen and (max-width: 441px) {
    details {
        width: 280px;
    }

    details p {
        width: 260px;
    }
}


/* Skills Section */
.skill-icons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: .5rem;
}

.skill-icons i {
    /* width: 2.3rem;
    font-size: 2.5rem; */
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

.skill-icons i:hover {
    animation: fa-bounce 1s infinite;
}

/* Contact Section */
.contact-sites {
    margin-top: .5rem;
}

.contact-sites ul {
    display: flex;
}

.contact-sites li {
    list-style: none;
    margin-right: 1.5rem;
    width: 2.3rem;
}


.contact-sites a {
    position: inherit;
}

.contact-sites li:hover {
    animation: fa-shake 2s infinite;
}

.contact-sites img {
    max-width: 100%;
    height: auto;
    display: block;
}

.contact.info {
    font-size: 3rem;
}

/* Media query for Contact section, 1*/
@media only screen and (max-width: 610px) {
    .contact-sites {
        text-align: center;
        margin-top: 2rem;
    }
}


/* Footer Section */
footer {
    margin-top: auto;
    padding: 0.75rem 0;
    color: white;
    background-color: #040D12;
}